extends layout

block content
  div.container
    div.page-header
      h1
        img(src="http://graph.facebook.com/#{toid}/picture")
        |     Manage your Alexa Message for #{toname}
      form(action='/savemessage', method='POST')
        input(type="hidden", name="fromid" value=fromid)
        input(type="hidden", name="toid" value=toid)
        if message
          textarea(rows="4" class="form-control" cols="40" name="message") #{message}
        else
          textarea(rows="4" class="form-control" cols="40" name="message")
        p
        button.btn.btn-primary(type="submit") Save Message
