extends layout

block content
  div.container
    div.page-header
      h1
        img(src="http://graph.facebook.com/#{toid}/picture")
        |     Manage your Alexa Message for #{toname}
      form(action='/savemessage', method='POST')
        input(type="hidden", name="fromid" value=fromid)
        input(type="hidden", name="toid" value=toid)
        if message
          textarea(rows="4" class="form-control" cols="40" name="message") #{message}
          p
          if time
            div.text-info Message created at #{time}
          if playedtime
            div.text-info Message played by #{toname} at #{playedtime}
        else
          textarea(rows="4" class="form-control" cols="40" name="message")
        p
        div.btn-toolbar
          button.btn.btn-primary(type="submit" name="action" value="save") Save Message
          button.btn(type="submit" name="action" value="delete") Delete Message